<%- messages() %> <% if (errors) { %>
    <ul class="notice">
      <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
      <% }) %>
    </ul>
    <% } %>
    
    <!-- messages -->
    <%- messages() %>
    
    <h1 class="update-header"><%= locals.accountData.account_email %> Account Information</h1>
    
    <div class="update-account-form-container">
      <form class="update-account-form" action="/account/update-info/" method="POST">
        <fieldset class="fieldset">
          <div>
            <label class="label" for="firstName">First Name:</label>
            <input class="input top" type="text" id="firstName" name="firstName" value="<%= locals.accountData.account_firstname %>" required>
            
            <label class="label" for="lastName">Last Name:</label>
            <input class="input top" type="text" id="lastName" name="lastName" value="<%= locals.accountData.account_lastname %>" required>
            
            <label class="label" for="email">Email:</label>
            <input class="input top" type="email" id="email" name="email" value="<%= locals.accountData.account_email %>" required>
            
            <input class="form-hidden" type="hidden" name="accountId" value="<%= locals.accountData.account_id %>">
            
            <button type="submit">Update Account</button>
          </div>
        </fieldset>
      </form>
    </div>
    
    <h1 class="password-header">Change Password</h1>
    
    <div class="update-account-form-container">
      <form class="update-account-form" action="/account/change-password/<%= locals.accountData.account_id %>" method="POST">
        <fieldset class="fieldset">
          <div>
            <label class="label" for="newPassword">New Password:</label>
            <input class="input top" type="password" id="newPassword" name="newPassword" required>
            
            <p class="password-requirements">Password must be at least 8 characters long and contain at least one number and one special character.</p>
            
            <input class="form-hidden" type="hidden" name="accountId" value="<%= locals.accountData.account_id %>">
            
            <button type="submit">Change Password</button>
          </div>
        </fieldset>
      </form>
    </div>