<%- messages() %> <% if (errors) { %>
<ul class="notice">
  <% errors.array().forEach(error => { %>
  <li><%= error.msg %></li>
  <% }) %>
</ul>
<% } %>

<!-- messages -->
<%- messages() %>

<h1 class="update-header">Account Information</h1>

<div class="update-account-form-container">
  <form
    class="update-account-form"
    action="/account/update-info/"
    method="POST"
  >
    <fieldset class="fieldset">
      <div>
        <label class="label" for="account_firstname">First Name:</label>
        <input
          class="input top"
          type="text"
          id="account_firstname"
          name="account_firstname"
          value="<%= locals.accountData.account_firstname %>"
          required
        />

        <label class="label" for="account_lastname">Last Name:</label>
        <input
          class="input top"
          type="text"
          id="account_lastname"
          name="account_lastname"
          value="<%= locals.accountData.account_lastname %>"
          required
        />

        <label class="label" for="account_email">Email:</label>
        <input
          class="input top"
          type="email"
          id="account_email"
          name="account_email"
          value="<%= locals.accountData.account_email %>"
          required
        />

        <input
          class="form-hidden"
          type="hidden"
          name="account_id"
          value="<%= locals.accountData.account_id %>"
        />

        <button type="submit">Update Account</button>
      </div>
    </fieldset>
  </form>
</div>

<h1 class="password-header">Change Password</h1>

<div class="update-account-form-container">
  <form
    class="update-account-form"
    action="/account/updatePassword/"
    method="POST"
  >
    <fieldset class="fieldset">
      <div>
        <label class="label" for="account_password">New Password:</label>
        <input
          class="input top"
          type="password"
          id="account_password"
          name="account_password"
          required
          pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*\W).{12,}"
          title="Must contain at least one number, one uppercase letter, one lowercase letter, one special character, and at least 12 or more characters"
        />

        <p class="password-requirements">
          Passwords must be minimum of 12 characters and include 1 capital
          letter, 1 number, and 1 special character.
        </p>

        <input
          class="form-hidden"
          type="hidden"
          name="account_id"
          value="<%= locals.accountData.account_id %>"
        />
        <button type="button" class="show-password-btn" id="show-password-btn">
          Show Password
        </button>
        <button type="submit">Change Password</button>
      </div>
    </fieldset>
  </form>
</div>

<script src="../../js/showPassword.js"></script>
